<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/uploader/uploader.js"></script>
    <script type="text/javascript" src="/javascripts/uploader/uploaderApp.js"></script>
</head>
<body>
<div style="width: 200px;height: 200px;background-color: blueviolet;" id="testDiv"></div>
</body>
<script type="text/javascript">
    var area=new uploaderApp.area('testDiv');;
    area.init();
</script>
</html>