<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/javascripts/uploader.js"></script>
</head>
<body>
<div style="width: 200px;height: 200px;background-color: blueviolet;" id="testDiv"></div>
</body>
<script type="text/javascript">
    var up=new uploader({id:'testDiv',url:'file/uploader'});
    up.init();
</script>
</html>