.container {
    margin: 0 auto;
    width: 635px;
    height: 417px;
    -webkit-box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.5);
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

.header {
    width: 633px;
    height: 39px;
    background: url('../images/sprite_n1.gif') 0 0 no-repeat;
    background-color: #f9f9f9;
    background-repeat: repeat-x;
    border: 1px solid #6d7a89;
}

.title_status {
    margin: 8px 0 0;
    float: left;
    font-weight: bold;
    font-size: 14px;
    text-indent: 1em;
    color: #fff;
}

.sprite_new {
    float: right;
    margin: 12px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 0;
    cursor: pointer;
    background: url('../images/sprite_n1.gif') 0 -177px no-repeat;
    font-style: normal;
    text-indent: -999em;
    color: #06C;
}

.upload_item {
    width: 633px;
    height: 39px;
    cursor: default;
    border: solid 1px;
    border-color: #ebebeb;
    border-bottom: 1px solid #d2d2d2;
}

.inline_mask {
    width: 582px;
    height: 38px;
    position: absolute;
    z-index: 0;
    background: #f5f7ff -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(153, 209, 255, .8)), color-stop(.5, rgba(132, 199, 255, .8)), color-stop(1, rgba(108, 188, 255, .8)));
}

.file_name {
    width: 40%;
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
    float: left;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file_size {
    width: 13%;
    height: 38px;
    line-height: 38px;
    position: relative;
    z-index: 2;
    float: left;
    text-indent: 5px;
}

.file_upload_status {
    width: 24%;
    height: 38px;
    line-height: 38px;
    text-indent: 5px;
    position: relative;
    z-index: 2;
    float: left;
}

.cancle_upload {
    margin: 11px;
    cursor: pointer;
    float: right;
    width: 16px;
    height: 16px;
    background: url('../images/sprite_n1.gif') 0 -269px no-repeat;
    vertical-align: middle;
}

.cancle_upload:hover {
    background-position: -21px -269px;
}
